.gdb_history
fish_variables*
fish_variables
fish/.config/fish/fish_variables*
fish/.config/fish/fish_plugins*
.env
disk
history
TAGS
tramp
places
auto-save-list
.env
.env.*
*.key
*.pem
*.crt
*.p12
*.pfx
*.kdbx
.emacs.d/elpa/
.ssh/
.gnupg/
.bash_history
.zsh_history
.fish_history
.machine-id
.hostname
.cache/
.npm/
.node_modules/
.parcel-cache/
.yarn/
.vscode/
.idea/
__pycache__/
*.pyc
.venv/
venv/
*.log
*.tmp
*.swp
*~
.DS_Store
*.o
*.out
*.exe


